ion-view(view-title='New Budget')
	ion-content
		.list
			label.item.item-input
				input(
					ng-model="budgetPrice"
					type="number"
					placeholder="Preço do orçamento")
			label.item.item-input
				textarea(
					ng-model="budgetDescription"
					placeholder="Descrição do orçamento")
		button.button.button-block.button-positive(
			ng-click="sendBudget(budgetPrice, budgetDescription)")
			| Enviar orçamento
