ion-view(view-title='Promoters')
	ion-content
		label.item.item-input
			input(
				ng-model="search.name"
				type="text"
				placeholder="Buscar Promoter")
		ion-list
			ion-item(
				collection-repeat='promoter in promoters | filter:search'
				ng-click='onPromoterSelected(promoter)')
				p {{promoter.name}}
				p Pontuação: {{promoter.rating}}
